*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
}

button:hover,
button:active,
button:focus {
  background-color: rgb(217, 219, 217);
}

button:nth-of-type(4) {
  margin-right: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  max-width: 100%;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #fcfbfb; /* Form background color */
}
.feedback {
  max-width: 500px;

  margin-inline: auto;
  margin-top: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
